
*{
    margin: 0;
    padding: 0;
}
.eto-baza{
    max-width: 1000px;
    margin: 0 auto;
}
.li-header{
    list-style:none;
}
.a-header{
    text-decoration:none;
    color: white;
}
.ul-header{
    display: flex;
    justify-content: space-between;
    gap:30px;
}
.header-up{
    display: flex;
    justify-content: space-between;
    padding: 20px 45px;
}
header{
    background-image: url("photo/image4.png");
    background-repeat: no-repeat;
}
.ul-header-mobile{
    display: none;
}
.header-undegruwn{
    display: flex;
    justify-content: space-between;
    color: white;
    margin-top: 90px;
    margin-right: 48px;
    margin-left: 45px;
    padding-bottom: 160px;
}
.header-form-down{
width: 283.55px;
background-color: #C7C9CACC;
padding-left: 27px;
padding-right: 27px;
padding-top: 26px;
padding-bottom: 26px;
}
.header-txt-down{
    margin-top: 15px;
}
.header-input-down{
    display:flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 17px;
}
input::placeholder {

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 11.7447px;
line-height: 14px;

color: rgba(0, 0, 0, 0.5);
}
.header-txt-down-p1{
    font-style: normal;
    font-weight: 600;
    font-size: 60.918px;
    line-height: 50px;
    
    color: #FFFFFF;
}
.header-txt-down-p2{
    font-style: normal;
    font-weight: 600;
    font-size: 50.3344px;
    line-height: 59px;
    padding-top: 10px;

    color: #FFE100;

}
.send-input{
    background: #FFE100;
}
.main-img1{
    position: absolute;
    width: 233.22px;
    height: 145.97px;
    left: 950.43px;
    top: 934.37px;
}
.main-img3{
    position: absolute;
    width: 233.22px;
    height: 145.97px;
    left: 800px;
    top: 700.37px;
    border-radius: 0px;

}
.main-img2{
    position: absolute;
    left: 1070px;
    top: 740.37px;
    border-radius: 0px;
}
.main-txt h1{
    position: absolute;
    width: 364.92px;
    height: 71px;
    left: 300.06px;
    top: 800.48px;
    
    font-family: 'Roboto';
    font-style: normal;
    /* or 164% */
    
    
    color: #000000;
}
.main-txt h2{
    position: absolute;
    width: 364.92px;
    height: 71px;
    left: 300.06px;
    top: 880.48px;
    
    font-family: 'Roboto';
    font-style: normal;
    /* or 164% */
    
    
    color: #000000;
}
.main-txt p{
    position: absolute;
    width: 364.92px;
    height: 71px;
    left: 650.06px;
    top: 6000.48px;
    
    font-family: 'Roboto';
    font-style: normal;
    /* or 164% */
    
    
    color: #000000;
}
.main-img4{
display: none;
}